*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body{
    background-color: black;
    font-family: sans-serif;
    
}

section{
    color: #fff;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    align-items: center;
    z-index: 100;
    background-color: #323946;
}

.logo{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: default;
}

.navbar a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 0px 16px;
    font-weight: 600;
    transition: 0.3s all;
}

.navbar a:hover,
.navbar a.active{
    color: aqua;
}

#menu-icon{
    font-size: 36px;
    color: #fff;
    display: none;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img{
    width: 35vw;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: aqua;
}

.home-content h1{
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.3;
}



.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid aqua;
    border-radius: 50%;
    font-size: 2rem;
    color: aqua;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: aqua;
    color: #323946;
    box-shadow: 0 0 1rem aqua;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: aqua;
    border-radius: 4rem;
    border:.2rem solid aqua;
    box-shadow: 0 0 1rem aqua;
    font-size: 1.6rem;
    color: #323946;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}.btn:hover {
    background-color: #323946;
    color: aqua;
    box-shadow: 0 0 1rem #323946;
    border:.2rem solid aqua

}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #414652;
}

.about-img {
    width: 35vw;
}

.about-content h1{
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
}

.about-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.about-content p {
    font-size: 2.1rem;
    line-height: 1.3;
    margin: 2rem 0 3rem;
}


.skill-header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
}



.skill-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 2rem;
}

.skill-title {
    flex: 1 1 30rem;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border: .2rem solid aqua ;
    border-radius: 2rem;
    line-height: 1.3;
    font-size: 3rem;
    color: aqua;
    transition: .5s ease;
}

.skill-title i {
    font-size: 7rem;
}

.skill-title:hover {
    background: aqua;
    color: #323946;
    box-shadow: 0 0 1rem aqua;
}

